<div class="navbar-fixed">
  <nav class="teal">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo teal-text text-lighten-4 center">Lingvoman</a>
      <ul>
        <li routerLink="/translations" routerLinkActive="active"><a class="waves-effect waves-light">Translations</a></li>
        <li><a class="waves-effect waves-light">Backups</a></li>
        <li><a class="waves-effect waves-light">Users</a></li>
      </ul>
      <ul class="right">
        <li>
          <span class="teal-text text-lighten-4 pr10">Hello, {{name}}</span>
        </li>
      </ul>
    </div>
  </nav>
</div>
